:root {
  --primary-color: #3A69D2;;
  --primary-text-color: #F5F5F5;;
  --secondary-text-color: #4A4E74;
  --secondary-color: #1F2937;
  --button-color: #D1D4F4;
  --primary-font: Inter, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}

.invoice-header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.header-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.invoice-container {
  background-color: var(--secondary-color);
  display: flow-root;
}

.purchase-options {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color:  var(--secondary-text-color);
}

.purchase-items {
  border: 7px solid var(--button-color);
  border-radius: 9px;
  background:  var(--button-color);
  padding: 9px;
}

.cart-items {
  list-style: none;
  display: flex;
  flex-direction: column;
}
